﻿
@{
    ViewBag.Title = "Downloads";
}

<h2>Downloads</h2>



<h3>Windows</h3>
<div class="container">
    <div class="btn btn-default" type="button" onclick="location.href=''">Download</div>
</div>




