﻿
@{
    ViewBag.Title = "Simple WEB crawler";
}


<div class="container containerBox">

    <div class="program-name">
        <h1>Simple WEB crawler</h1>
    </div>

    <div class="container">
           Project: <br>
           Simple automatic WEB crawler using WEB application to display bot actions <br>

           Parts: <br>
            + Console application using C# <br>
            + WEB application using MVC 5 and SignalR to communicate between console bot app and web app to display bot actions  <br>
    </div>
</div>



