﻿
<div class="container"> 
    <h2>Live bots</h2>

    <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Creation date</th>
                    </tr>
                </thead>
                <tbody id="table">
                   @foreach (var data in ViewBag.bots)
                   {
                       <tr>
                           <td>
                               <a href="@Url.Action("MonitorSelectedBot", "Home")?id=@data.Id">@data.Id</a>
                           </td>
                           <td>
                               @data.BotNameId
                           </td>
                           <td>
                               @data.CreateDate
                           </td>
                       </tr>
                   }
                </tbody>
            </table>      
</div>

@section scripts{
 
    <script>
            $(function () {

                var monitor = $.connection.monitorHub;

                function tableRow(response) {

                    return '<tr><td><a href="@Url.Action("MonitorSelectedBot", "Home")?id=' + response.Id + '">' + response.Id + '</a></span></td><td>' + response.BotNameId + '</td><td>' + response.CreateDate + '</td></tr>';
                }

                function setDataToTable(response) {

                    var data = JSON.parse(JSON.stringify(response));

                    var content = null;

                    for (var i = 0; i < data.length; i++) {

                        content += tableRow(data[i]);
                    }

                    $('#table').html(content);
                };


                //Alternative
                /*$.connection.hub.start(function () {
                    $.ajax({
                        data: null,
                        url: '/Home/GetBots',
                        type: 'GET',
                        dataType: 'Json',
                        success: function (response) {
                            if (response != null) {
                                setDataToTable(response);
                            } else {
                                console.log("Data not found");
                            }
                        },
                        error : function (error) {
                            alert(error);
                        }

                    })
                })*/

                //Alternative
                $.connection.hub.start(function () {
                    //Slow connection between database
                   // monitor.server.getBots().done(function (response) {
                    //    setDataToTable(response);
                   // })
                })

                monitor.client.updateBotList = function (response) {

                    setDataToTable(response);
                };


                monitor.client.addBotToList = function (response) {

                    $('#table tr:last').after(tableRow(response));
                };
            });
    </script>
}