﻿
@{
    ViewBag.Title = "Monitoring";
}

<div class="container">
    <h2>Selected Live Bot Monitoring</h2>
    <h4>Id: @ViewBag.MonitoringId</h4>
    <h4>Name: @ViewBag.BotNameId</h4>
    <h4>Creation Date: @ViewBag.CreateDate</h4>
    <h4>Platform: @ViewBag.Platform</h4>

    <div class="monitoringPanel">
        <div id="messages"></div>
    </div>
</div>



@section scripts { 
    <script>
            $(function () {
              
                var monitor = $.connection.monitorHub;

               
                monitor.client.addMessage = function (message, date) {
                    $('#messages').append('<p>'+date + ' : ' + message + '</br></p>');
                   
                };

                $.connection.hub.start(function () {
                    var url = document.URL.split('?id=');
                    var id = url.pop();
                    monitor.server.join(id);
                });

              
               /* $.connection.hub.start().done(function () {

                    $("#broadcast").click(function () {
                        chat.server.send($('#msg').val());
                    });
                });*/
            });
    </script>
}

