﻿
@{
    ViewBag.Title = "Bot history";
}

<h2>Simulation history</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Create date</th>
                <th>Finish date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="table">
            @foreach (var data in ViewBag.Bots)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("SelectedBotHistory", "Data")?id=@data.Id">@data.Id</a>
                    </td>
                    <td>@data.BotNameId</td>
                    <td>@data.CreateDate</td>
                    <td>@data.FinishDate</td>
                    <td>
                        <div class="btn btn-info" type="button" onclick="location.href = '@Url.Action("RemoveSelected", "Data")?id=@data.Id'">Remove</div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>



