﻿
@{
    ViewBag.Title = "Selected Bot";
}


<div class="container">
    <h2>Simulation</h2>
    <h4>Id: @ViewBag.BotId</h4>
    <h4>Creation Date: @ViewBag.CreateDate</h4>
    <h4>Finish Date: @ViewBag.FinishDate</h4>
    <h4>Platform: @ViewBag.Platform</h4>

    <div class="monitoringPanel">
       @foreach (var data in ViewBag.MonitoringData)
       {
           <p>@Html.Raw(data.MessageDate + " : " + data.Info + "</br>")</p>
       }
    </div>
</div>